WpfApp1/Connected Services/ServiceReference1/CIM.MES.Common.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CIM.MES.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CIM.MES.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MessageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMAND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMANDTYPE" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DATADIC" nillable="true" type="q1:ArrayOfKeyValueOfstringArrayOfKeyValueOfstringanyTypety7Ep6D1" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DATALIST" nillable="true" type="q2:ArrayOfArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="DATASET" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="DATATABLE" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="EXCEPTIONMESSAGE" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HASHLIST" nillable="true" type="q3:ArrayOfArrayOfKeyValueOfanyTypeanyType" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HASHTABLE" nillable="true" type="q4:ArrayOfKeyValueOfanyTypeanyType" />
      <xs:element minOccurs="0" name="IPADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISREQUEST" type="xs:boolean" />
      <xs:element minOccurs="0" name="ISSUCCESS" type="xs:boolean" />
      <xs:element minOccurs="0" name="LANGUAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJECT" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="QUERYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SITEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageData" nillable="true" type="tns:MessageData" />
</xs:schema>