WpfApp1/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CIM.MES.Common.Data" />
  <xs:element name="ExecCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CIM.MES.Common.Data" minOccurs="0" name="requestData" nillable="true" type="q1:MessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CIM.MES.Common.Data" minOccurs="0" name="ExecCommandResult" nillable="true" type="q2:MessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>